.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 8% 8%;

}

.title {
    color: #606163;
}

.image {
    border-radius: 15px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.description {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 5px;

}

.buttons a {

    background-color: #212121;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    transition: ease-out 0.2s;
    font-weight: 200;
}

.buttons a:hover {
    background-color: #ff4321;
}