.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 8% 8%;

}

.title {
    color: #606163;
}

.image {
    border-radius: 15px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    text-align: justify;
}
  