* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  /* background-color: #edf2fc; */
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,67,33,1) 0%, rgba(255,122,97,0.14618347338935578) 0%, rgba(255,255,255,0) 100%);
}