.container {
    margin-left: 8%;
    margin-top: 8%;
}

.container h1 {
    font-size: 35px;
    color: #212121;
    margin-bottom: 20px;
    font-weight: bold;
}

.container h1 span {
    color: #ff4321;
}

.container p span {
    color: #ff4321;
    font-weight: bold;
}

.container p {
    color: #606163;
    line-height: 22px;
    width: 33%;
    margin-bottom: 35px;
}

.download {

    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 12px;
    transition: ease-out 0.2s;
}

.download:hover {
    background-color: #ff4321;
}

.image_container {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image_container img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.image_container:hover .background_pattern {
    bottom: 40px;
}

.image_container:hover .my_image {
    left: 54%;
}

.social_links {
    /* margin-left: 1%; */
    margin-top: 40px;
}

.social_links a {
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
    transition: ease-out 0.2s;
}

.social_links a:hover {
    color: #ff4321;
}

.skills {
    display: flex;
    align-items: center;
}

.skills h3 {
    font-weight: 600;
    color: #ff4321;
    border-right: solid;
    border-color: #606163;
    padding-right: 10px;
}

.skill_icons {
    margin-top: 5px;

}

.skill_icons img {
    display: inline-block;
    margin: 10px -7px;
    scale: 0.6;
}

