.container {
    margin-left: 8%;
    margin-top: 15%;
}

.container h1 {
    font-size: 35px;
    color: #212121;
    margin-bottom: 20px;
    font-weight: bold;
}

.container span {
    color: #ff4321;
}

.container p {
    color: #606163;
    line-height: 22px;
    width: 33%;
    margin-bottom: 35px;
}

.container a {

    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 12px;
}

.image_container {
    
}