.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    margin: auto;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.icons li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.link {
    text-decoration: none;
    color: #606163;
    transition: ease-out 0.5s;
}

.link:hover {
    color: #ff4321;
}

.logo h1 {
    font-size: 20px;
    color: #606163;
}

.link {
    position: relative;
    padding: 1% 0;
}

.line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #606163;
    height: 1%;
}